blinker==1.9.0
click==8.3.0
flask==3.0.3
flask-jwt-extended==4.6.0
flask-ldap3-login @ git+https://github.com/nickw444/flask-ldap3-login.git@dd1e9df71ff586a080afbf62923f00f4c3926776
flask-login==0.6.3
flask-wtf==1.2.2
greenlet==3.3.0
itsdangerous==2.2.0
jinja2==3.1.6
ldap3==2.9.1
markupsafe==3.0.3
psycopg2==2.9.11
pyasn1==0.6.1
pyjwt==2.10.1
python-dotenv==1.1.1
python-i18n==0.3.9
qwc-services-core==1.4.6
sqlalchemy==2.0.45
typing-extensions==4.15.0
werkzeug==3.0.6
wtforms==3.2.1
