{% extends "base.html" %}

{% block content %}
    <h1>{{ i18n.t('auth.login_page_title') }}</h1>
    <form action="" method="post" autocomplete="off">
        {{ form.hidden_tag() }}
        <div class="login">
            <div class="login-screen">
                <div class="app-title">
                    <h1>{{ i18n.t('auth.login_form_title') }}</h1>
                </div>
     
                <div class="login-form">
                    {% if login_hint != "" and login_hint != None %}
                    <div class="control-group login-hint">
                        <span>{{ login_hint }}</span>
                    </div>
                    {% endif %}
                    <div class="control-group">
                    <input type="text" class="login-field" value="" 
                           placeholder="{{ i18n.t('auth.username_placeholder') }}" name="username" autofocus="">
                    <label class="login-field-icon fui-user" for="login-name"></label>
                    {% for error in form.username.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                    </div>
     
                    <div class="control-group">
                    <input type="password" class="login-field" value=""
                           placeholder="{{ i18n.t('auth.password_placeholder') }}" name="password">
                    <label class="login-field-icon fui-lock" for="login-pass"></label>
                    {% for error in form.password.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                    </div>
     
                    <input type="submit" value="{{ i18n.t('auth.login_button') }}"
                           class="btn btn-primary btn-large btn-block" >
                    <br>
                </div>
            </div>
        </div>
    </form>
{% endblock %}
